<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
</head>
<body>
    <h1>Login page</h1>
    <form action="/login" method="POST">
        <label >Email</label>
        <input type="text" required name="email" />
        <label >Password</label>
        <input type="text" required name="password" />
        <button type="submit">Login</button>
    </form>
    <p>Dont have account <a href="/signup">signup Now</a></p>
</body>
</html>